<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item text-wrap *ngFor="let item of globals.notifications">
      <ion-icon name="card" item-start></ion-icon>
      <ion-icon name="close" item-end (click)="removeItem($event, item)"></ion-icon>
      {{item.msg}}
      <!--<div class="item-note" item-end>
        {{item.note}}
      </div>-->
    </button>
  </ion-list>
  <ion-fab right bottom (click)="presentPrompt()">
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
